<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<h1>Patient Plus</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto, at beatae blanditiis deserunt dolorum, error exercitationem, id laborum necessitatibus obcaecati optio qui quia quod soluta tempore temporibus unde vero?</span><span>Adipisci at deserunt earum iste libero odio officiis, tenetur veniam? Ab adipisci, consectetur earum esse, et excepturi laboriosam laudantium magnam maxime nam non, odio quam quasi quo tempore unde voluptates!</span><span>Ad aperiam consequatur corporis deleniti eaque est hic ipsam laudantium minima modi, nihil, quam quo, ratione sunt ut vero vitae? Ad culpa eos iure iusto labore molestiae nemo quam soluta.</span></p>
<img src="{% static 'assets/img.png' %}" alt="">
<img src="{% static 'assets/img_1.png' %}" alt="">
<img src="{% static 'assets/img_3.png' %}" alt="">
<img src="{% static 'assets/img_2.png' %}" alt="">
<img src="{% static 'assets/img_4.png' %}" alt="">
</body>
</html>